.navbar{
  color:white;
}

.Main{
  display: flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
  align-items:center;
}
.list-items{
  display:flex;
  background-color: white;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius:5px;
  align-items: center;
  height:3rem;
  min-width: 24rem;
}
.list-items>img{
  padding-right:15px;
  margin-left:8px;
}
.list-items>h4{
  padding-left:15px
}
.input{
 margin-top: 5vh;
 margin-bottom: 5vh;
 width:27rem;
}
.input>input{
  width:100%;
  border: none;
  outline:none;
  text-indent: 4px;
  padding:12px;
}
.App{
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction:column;
}
.body::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px){
  .Main{
    width:250px;
  }
  .input{
   width:100%;
   margin-right:5vw;
  }
  .list-items{
    min-width:100%;
  }
  
  
}